# Data and Logs
*.db
*.db-journal
*.log
project/data/*.db
project/logs/*.log
project/.env
node_modules/*
project/frontend/node_modules/*
safest/*
project/backend/__pycache__/*
project/backend/orchestrator/__pycache__/*
project/backend/.pytest_cache/*